@model IEnumerable<library_1100.Models.Book>

@{
  ViewData["Title"] = "BooksList";
}

<h1>Lista</h1>

<p>
  <a class="btn btn-success"asp-action="Create">Create New Book</a>
    <a class="btn btn-warning"asp-action="Index">Go to Index</a>

</p>


@* Grupo de cards *@
@* <section class="d-flex justify-content-around">
<article class="card" style="width: 15rem;">
<img class="card-img-top"
src="https://img.freepik.com/vector-premium/icono-marco-fotos-foto-vacia-blanco-vector-sobre-fondo-transparente-aislado-eps-10_399089-1290.jpg"
alt="Card image cap" style="height: 15rem;">
using library_1100.Controllers;
<div class="card-body">
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">Titulo 1: </li>
<li class="list-group-item">Autor</li>
<li class="list-group-item">Categoria</li>
<li class="list-group-item">Estado</li>
</ul>
<div class="card-body">
<button class="btn btn-success">Prestar</button>
</div>
</article>

<article class="card" style="width: 15rem;">
<img class="card-img-top"
src="https://img.freepik.com/vector-premium/icono-marco-fotos-foto-vacia-blanco-vector-sobre-fondo-transparente-aislado-eps-10_399089-1290.jpg"
alt="Card image cap" style="height: 15rem;">
<div class="card-body">
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">Titulo 2</li>
<li class="list-group-item">Autor</li>
<li class="list-group-item">Categoria</li>
<li class="list-group-item">Estado</li>
</ul>
<div class="card-body">
<button class="btn btn-success">Prestar</button>
</div>
</article>

<article class="card" style="width: 15rem;">
<img class="card-img-top"
src="https://img.freepik.com/vector-premium/icono-marco-fotos-foto-vacia-blanco-vector-sobre-fondo-transparente-aislado-eps-10_399089-1290.jpg"
alt="Card image cap" style="height: 15rem;">
<div class="card-body">
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">Titulo 3</li>
<li class="list-group-item">Autor</li>
<li class="list-group-item">Categoria</li>
<li class="list-group-item">Estado</li>
</ul>
<div class="card-body">
<button class="btn btn-success">Prestar</button>
</div>
</article>
</section> *@

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    @{
      int index = 0; // Variable de índice para rastrear el primer elemento
      var modelList = Model.ToList(); // Convertir a lista para hacer indexación
      int totalItems = modelList.Count;
      int itemsPerSlide = 5; // Número de películas por "slide"
    }

    @for (int i = 0; i < totalItems; i += itemsPerSlide)
    {
      // "active" solo para el primer elemento del carrusel
      <div class="carousel-item @(index == 0 ? "active" : "")">
        @{
          index++; // Incrementa el índice para los "slides" del carrusel
        }

        <section class="d-flex justify-content-center">
          @for (int j = i; j < i + itemsPerSlide && j < totalItems; j++)
          {
            var item = modelList[j]; // Obtener la película actual

            <article class="card" style="width: 17rem;">
              <img class="card-img-top"
                src="@Html.DisplayFor(modelItem => item.Image)"
                alt="Card image cap" style="height: 14rem;">
              <div class="card-body">
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayFor(modelItem => item.Title)</li>
                <li class="list-group-item">By @Html.DisplayFor(modelItem => item.Author)</li>
                <li class="list-group-item">Is avaliable? <br>@Html.DisplayFor(modelItem => item.Avalibility)</li>
                <li class="list-group-item">Genre: @Html.DisplayFor(modelItem => item.Category.Name)</li>
              </ul>
              <div class="card-body d-flex flex-column align-items-center gap-1 container px-4">
                <a asp-action="Edit" class="btn btn-primary" style="width: 100%;" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" class="btn btn-success" style="width: 100%;"  asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" class="btn btn-danger" style="width: 100%;" asp-route-id="@item.Id">Delete</a>
              </div>
            </article>
          }
        </section>
      </div>
    }
  </div>
  
  <button class="carousel-control-prev btn-success" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next btn-success" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


@* <section>
<a class="btn btn-primary" href="#" role="button">Link</a>
<a class="btn btn-primary" href="#" role="button">Link</a>
<a class="btn btn-primary" href="#" role="button">Link</a>
</section> *@